* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003366;
    margin: 40px;
}

.containerP {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    width: 900px;
    height: 700px;
    border-radius: 20px;
    border-style: groove;
}

.containerP h1 {
    color: #003366;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #FFD700;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Impact, sans-serif;
    cursor: pointer;
    border-radius: 10px;
}

.card.flipped {
    background-color: #FFFFFF;
}
